
// Base styles

body {
  background-size: cover;
  background-position: center center;
  background-image: url('../img/background.png');

  .wf-active & { // Use webfont when loaded
    font-family: $sans-serif;
  }

  @include brand-animation(background-color-rotation, 30s);
}

a {
  .login #backtoblog &,
  .login #nav & {
    color: darken($color-accent-light, 10%);
    &:hover {
      color: $color-accent-light;
    }
    &:active {
      color: $color-accent-light;
    }
  }
}

.login {

  h1 {
    @include visually-hidden;
  }

  h1 a {
    background-image: none;
  }
}
