
body {
  background-size: cover;
  background-position: center center;
  background-image: url('../img/background.png');
  // background-image: url('../img/header-page-contact.jpg');

  // background-color: $color-accent-dark;
  @include brand-animation(background-color-rotation, 30s);
}

a {
  .login #backtoblog &,
  .login #nav & {
    color: darken($color-accent-light, 10%);
    &:hover {
      color: $color-accent-light;
    }
    &:active {
      color: $color-accent-light;
    }
  }
}

.login {
  font-family: $sans-serif;

  h1 {
    @include visually-hidden;
  }

  h1 a {
    background-image: none;
  }
}
