
// Local file variables
$form-width:  480px;
$input-width: 320px;


#login {
  width: 90%;
  max-width: $form-width;
  position: relative;

  @include bp(md) {
    padding-top: 15%;
    padding-right: 5%;
  }
}


#wp-submit {
  height: auto;
  border-radius: 0;
  text-shadow: none;

  background-color: $color-link;
  transition: 0.25s ease background-color;
  border: 1px solid darken($color-link, 5%);

  @include upperspace;
  font-weight: $font-weight-strong;
  font-size: $size-base;

  padding: $size-xsml $size-h3;

  &:hover {
    background-color: $color-link-hover;
  }

  &:active {
    background-color: $color-link-active;
  }
}


.login {

  form {
    background-color: rgba($color-accent-light, 0);
    border-bottom: 1px solid rgba($color-accent-light, 0.5);

    label {
      color: $color-accent-light;
      margin-bottom: $size-base;
    }
  }


  // Subtle brand color overrides

  .message,
  #login_error {
    text-align: center;
    background-color: rgba($color-accent-light, 0.7);
    border-top: 4px solid $color-brand-secondary;
    border-left: none;
  }

  #login_error {
    border-top-color: $color-brand-primary;
  }

  input[type="checkbox"]:checked:before {
    color: $color-brand-primary;
  }



  // Remove default box shadows
  form,
  .message,
  #login_error,
  input[type="text"],
  input[type="password"],
  input[type="checkbox"],
  input[type="submit"] {
    box-shadow: none;

    &:focus {
      box-shadow: none;
    }
  }



  // Styling inputs

  input[type="text"],
  input[type="password"] {
    background-color: $color-accent-light;
    border: 2px solid $color-accent-light;
    transition: 0.25s ease border-color;

    padding: $size-xsml $size-base;
    @include bp(sm) {
      margin: 0 0 0 $size-xsml;
    }

    &:focus {
      border-color: $color-brand-secondary;
    }
  }



  // ---
  // Layout
  // ---

  input[type="text"],
  input[type="password"] {
    @include bp(sm) {
      flex-basis: $input-width;
      flex-grow: 0;
      flex-shrink: 0;
    }
  }

  // Display labels horizontally at larger sizes
  label {
    @include bp(sm) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  // Align checkbox with input
  .forgetmenot {
    @include bp(sm) {
      margin-left: calc(100% - 320px); // 320px = $input-width (can't use Sass var here)
    }
  }

  // Float bottom links

  #backtoblog,
  #nav {
    box-sizing: border-box;
    width: 50%;
  }

  #backtoblog {
    float: left;
  }

  #nav {
    float: right;
    text-align: right;
    margin-top: 16px; // Necessary margin override to match #backtoblog
  }

} // -- .login


