
.logo {
  transform: scale(0); // Begin at size 0, opacity 0
  opacity: 0;

  animation: scaleIn;
  animation-delay: 0.5s;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;

  display: flex;
  align-items: center;
  flex-direction: column;

  // Logo absolutely positioned left on large screens
  @include bp(lg) {
    position: absolute;
    left: -30%;
    top: 5%;
  }


  // Class added when animation completes
  &.js-complete {
    transform: scale(1);
    opacity: 1;
  }
}

.logo-1 {
  @include brand-animation(fill-rotation-reverse);
}

.logo-0 {
  @include brand-animation(fill-rotation);
}

.logo-up {
  @include brand-animation(fill-rotation-grey);
}
