
@import 'config/variables';
@import 'config/mixins';
@import 'config/animations';
@import 'shame';


body {
  background-size: cover;
  background-position: center center;
  background-image: url('../img/background.png');
  background-color: $color-brand-tertiary;
  // @include brand-animation(background-color-rotation);
}

.logo {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo-1,
.logo-0 {

  .logo:hover & {
    animation-play-state: paused;
  }
}

.logo-1 {
  @include brand-animation(fill-rotation-reverse);
}

.logo-0 {
  @include brand-animation(fill-rotation);
}

.logo-up {
  fill: $color-accent-light;
}

a {
  .login #backtoblog &,
  .login #nav & {
    color: $color-accent-light;
    &:hover {
      color: $color-accent-light;
    }
    &:active {
      color: $color-accent-light;
    }
  }
}

#login {
  width: 90%;
  max-width: 480px;
}

#wp-submit {
  height: auto;
  background-color: $color-brand-secondary;

  border: none;
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: none;
  padding: $size-xsml $size-base;
  font-size: $size-base;
  transition: 0.25s ease background-color;

  &:hover {
    background-color: darken($color-brand-secondary, 20%);
  }
}

input[type="checkbox"]:checked:before {
  color: $color-brand-primary;
}

// Remove default box shadows
input[type="text"],
input[type="password"],
input[type="checkbox"],
#wp-submit {
  box-shadow: none;
  &:focus {
    box-shadow: none;
  }
}


.login {
  font-family: $sans-serif;

  h1 a {
    background-image: none;
    height: 0;
    width: 0;
  }

  input[type="text"],
  input[type="password"] {
    padding: 10px 16px;
    background-color: $color-accent-light;
    border: 2px solid $color-accent-light;
    font-family: $sans-serif;
    transition: 0.25s ease border-color;

    @include bp(sm) {
      flex-basis: 300px;
      flex-grow: 0;
      flex-shrink: 0;
    }

    &:focus {
      border-color: $color-brand-secondary;
    }
  }

  form {
    background-color: rgba($color-accent-light, 0.5);
    box-shadow: none;
  }

  label {
    color: $color-accent-dark;
    font-family: $serif;

    display: block;
    margin-bottom: $size-xsml;

    @include bp(sm) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

