// Welcome to the variables file!


// ---
// Screen sizes
// ---

$screen-xs:     28em;
$screen-sm:     34em;
$screen-md:     50em;
$screen-lg:     70em;
$screen-xl:     80em;


// ---
// Colors
// ---

// Literal Colors

$white:     #fefefe;
$grey:      #585858;
$dark-grey: #303030;

$teal:      #41A2A3;
$red:       #b73030;


// Semantic Colors

// -- Brand
$color-brand-primary:   $red;
$color-brand-secondary: $teal;
$color-brand-tertiary:  $dark-grey;

// -- General
$color-accent-light:  $white;
$color-accent-med:    $grey;
$color-accent-dark:   $dark-grey;

// -- Links
$color-link:          $color-brand-secondary;
$color-link-hover:    darken($color-link, 20%);
$color-link-active:   darken($color-link, 40%);



// Typography

$serif:       'freight-text-pro', Georgia, serif;
$sans-serif:  'proxima-nova', Arial, sans-serif;



// Sizes

$size-base:         1.1rem;
$line-height-base:  1.5;
$line-height-sm:    1.3;

$size-xsml:         $size-base*0.6;
$size-sml:          $size-base*0.8;

$size-h1:           $size-base*3;
$size-h2:           $size-base*2.4;
$size-h3:           $size-base*1.8;
$size-h4:           $size-base*1.3;
$size-h5:           $size-sml;
$size-h6:           $size-base;





